<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="logo-link" href="/">
    <style>
      .logo img {
        width: 70px;
        max-height: 70px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
      }
    </style>
    <div class="logo">
        <img src="/assets/img/logo_daitan.svg" alt="Logo">
    </div>
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <div class="form-inline my-2 my-lg-0">
        <a class="nav-item-right" href="/">Home</a>
        <a class="nav-item-right" href="/login">Login</a>
        <a class="nav-item-right" href="/register">Signup</a>
        <div class="nav-item-right nav-item dropdown">
          <a href="#" class="dropdown-toggle nav-item" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
          <ul class="dropdown-menu nav-item">
            <li><a href="#">Basic Use</a></li>
            <li><a href="#">How To Register</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Report Issues</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>